Package: lmod
Version: 5.5.1-1
Architecture: amd64
Maintainer: Aaron Zauner <azet@azet.org>
Installed-Size: 826
Depends: lua5.2, lua-filesystem, lua-posix
Section: devel
Priority: optional
Homepage: https://www.tacc.utexas.edu/tacc-projects/lmod
Description: Lua based environment modules
 Lmod is a Lua based module system that easily handles the MODULEPATH
 Hierarchical problem. Environment Modules provide a convenient way to
 dynamically change the users' environment through modulefiles. This
 includes easily adding or removing directories to the PATH environment
 variable. Modulefiles for Library packages provide environment variables
 that specify where the library and header files can be found.
